.heading{
    background-color:#ff9999;
    padding:8px;
    text-align:center;
    font-size:1rem;
}
.flex-container{
    margin-top: 2%;
    display: flex;
}
.left{
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    margin-right: 16px;
}
.movie-item:hover{
    cursor: pointer;
}
.right{
    display: flex;
    width: 24%;
    justify-content: center;
}
.apply:hover{
    cursor: pointer;
}