#content-main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 5%;
}
#movie-details-container{
    display: flex;
}
.back-home-btn:hover{
    cursor: pointer;
}
#left, #right{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#right-inner-container{
    width: 80%;
}
#artists-container{
    width: 100%;
    margin-top: 16px;
}
#middle{
    width: 60%;
}
.video-container{
    width: 100%;
    height: 390px;
    background-color: lightgray;
}